<div class="container my-1">
    <div class="row">

    <div class="col-sm-12">
        <!--start card-->
        <div class="card-wrapper">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Collabora con noi</h5>
                <p>
                    Seguendo quanto è stato fatto dalla <a href="https://community.wuhan2020.org.cn/it-it/" target="_blank">comunità cinese di Whuan</a>, vogliamo realizzare un servizio messo a disposizione di tutti gli Italiani, che permetta di avere in un unico posto informazioni in tempo reale relative ad ospedali, servizi di approvvigionamento, donazioni, comportamenti da adottare e molto altro.
                </p>
                <p>
                "Siamo alla ricerca di tutti coloro che desiderano dare un contributo alla campagna contro il coronavirus, in modo che tutte le persone che possiedono le adeguate competenze possano contribuire al lavoro di sviluppo nell’ambito delle tematiche ad esse pertinenti e quindi, in accordo con la cultura della comunità Open Source, al raggiungimento del successo attraverso un approccio di cooperazione autogestita."
                </p>
                <p >Possono partecipare tutti: programmatori, product manager, progettisti, project manager, analisti dati, raccoglitori di informazioni, traduttori, operatori di comunicazione, studenti, ecc.</p>
                <p >
                    Puoi trovare tutto il codice sorgente su <a href="https://github.com/grausof/iorestoacasa" target="_blank">github</a> e suggerire nuove idee sul <a href="https://join.slack.com/t/iorestoacasa/shared_invite/zt-cq04uaom-g0x4XaR1Ajw32sKP2reckg" target="_blank">slack</a>
                </p>
                <p >
                    Oppure seguici sul nostro canale social <a href="https://instagram.com/restoacasa.github.io" target="_blank">instagram</a> 
                </p>
                </div>
            </div>
        </div>
        <!--end card-->

        </div>
    </div>

</div>