<div class="container my-1">

    <div class="row">
        <div class="col-sm-5">
            <h4>Casi per regione</h4>
            <ul class="nav nav-tabs auto">
                <li class="nav-item"><a [ngClass]="{'active': showRegion}" class="nav-link" href="#" (click)="switchToRegion()">Regioni</a></li>
                <li class="nav-item"><a [ngClass]="{'active': !showRegion}" class="nav-link" href="#" (click)="switchToProv()">Province</a></li>
            </ul>
            <div id="chartdiv"></div>
        </div>
        <div class="col-sm-2">
            <h4>Numeri</h4>
            <div class="row">
                <div class="col-sm-12">
                    <p class="lead">
                        {{detailValue.denominazione_regione}}
                        <button type="button" class="close" aria-label="Close" (click)="closeButton()" [hidden]="!showCloseButton">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                    
                    Totale casi: <span class="badge badge-primary badge-pill float-right">{{detailValue.totale_casi}}</span><br/>
                    Tamponi: <span class="badge badge-primary badge-pill float-right">{{detailValue.tamponi}}</span><br/>
                    Dimessi guariti: <span class="badge badge-primary badge-pill float-right">{{detailValue.dimessi_guariti}} </span><br/>
                    Terapia intensiva: <span class="badge badge-primary badge-pill float-right">{{detailValue.terapia_intensiva}} </span><br/>
                    Ricoverati: <span class="badge badge-primary badge-pill float-right">{{detailValue.ricoverati_con_sintomi}} </span><br/>
                    Isolamento: <span class="badge badge-primary badge-pill float-right">{{detailValue.isolamento_domiciliare}} </span><br/>
                    Deceduti: <span class="badge badge-primary badge-pill float-right">{{detailValue.deceduti}} </span><br/><br/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="lead">Numero verde</p>
                    <div class="chip">
                        <svg class="icon icon-xs"><use xlink:href="../assets/sprite.svg#it-telephone"></use></svg>
                        <span class="chip-label">{{numeriEmergenza[detailValue.denominazione_regione]}}</span>
                    </div>
                    <p>Numero emergenza</p>
                    <div class="chip">
                        <svg class="icon icon-xs"><use xlink:href="../assets/sprite.svg#it-telephone"></use></svg>
                        <span class="chip-label">112</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-5">
            <h4>Andamento giornaliero</h4>
            <div id="linearchart"></div>
        </div>
    </div>
    <div class="row">
        <div class="float-left">Ultimo aggiornamento: {{lastUpdate}}</div>
    </div>
</div>


<div class="container my-2">
    
    <div class="row">
        <div class="col-sm-4">
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <div class="top-icon">
                            <svg class="icon">
                            <use xlink:href="../assets/sprite.svg#it-comment"></use>
                            </svg>
                        </div>
                        <h5 class="card-title">Come fare per?</h5>
                        <p class="card-text">Scopri tutte le risposte alle domande più comuni</p>
                        <a class="read-more" target="blank" href="http://www.governo.it/it/articolo/decreto-iorestoacasa-domande-frequenti-sulle-misure-adottate-dal-governo/14278">
                            <span class="text">Leggi di più</span>
                            <svg class="icon">
                            <use xlink:href="../assets/sprite.svg#it-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <div class="top-icon">
                            <svg class="icon">
                            <use xlink:href="../assets/sprite.svg#it-info-circle"></use>
                            </svg>
                        </div>
                        <h5 class="card-title">Raccomandazioni</h5>
                        <p class="card-text">Lava spesso le mani, non toccare occhi, naso e bocca, evita contatti ravvicinati e luoghi affollati.</p>
                        <a class="read-more" target="blank" href="http://www.salute.gov.it/imgs/C_17_opuscoliPoster_443_allegato.pdf">
                            <span class="text">Leggi di più</span>
                            <svg class="icon">
                            <use xlink:href="../assets/sprite.svg#it-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <div class="top-icon">
                            <svg class="icon">
                            <use xlink:href="../assets/sprite.svg#it-help-circle"></use>
                            </svg>
                        </div>
                        <h5 class="card-title">Dubbi?</h5>
                        <p class="card-text">Cosa fare in caso di sintomi, febbre, difficoltà respiratorie e dove fare il test.</p>
                        <a class="read-more" target="blank" href="http://www.salute.gov.it/imgs/C_17_opuscoliPoster_444_allegato.pdf">
                            <span class="text">Leggi di più</span>
                            <svg class="icon">
                            <use xlink:href="../assets/sprite.svg#it-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-3">
    
    <div class="row">
        
    </div>
</div>
