<div class="container my-1">

    <div class="row">
        <div class="col-sm-4">
            <h4>Casi per regione</h4>
            <ul class="nav nav-tabs auto">
                <li class="nav-item"><a [ngClass]="{'active': showRegion}" class="nav-link" href="#" (click)="switchToRegion()">Regioni</a></li>
                <li class="nav-item"><a [ngClass]="{'active': !showRegion}" class="nav-link" href="#" (click)="switchToProv()">Province</a></li>
            </ul>
            <div id="chartdiv"></div>
        </div>
        <div class="col-sm-3">
            <h4>Numeri</h4>
            <div class="row">
                <div class="col-sm-12">
                    <p class="lead">
                        {{detailValue.denominazione_regione}}
                        <button type="button" class="close" aria-label="Close" (click)="closeButton()" [hidden]="!showCloseButton">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </p>

                    
                    Totale positivi: <span class="badge badge-primary badge-pill float-right">{{detailValue.totale_attualmente_positivi}} (+{{detailValue.totale_attualmente_positivi_increment}})</span><br/>
                    Dimessi guariti: <span class="badge badge-primary badge-pill float-right">{{detailValue.dimessi_guariti}} (+{{detailValue.dimessi_guariti_increment}})</span><br/>
                    Deceduti: <span class="badge badge-primary badge-pill float-right">{{detailValue.deceduti}} (+{{detailValue.deceduti_increment}})</span><br/>
                    <b>Totale casi:</b> <span class="badge badge-primary badge-pill float-right">{{detailValue.totale_casi}} (+{{detailValue.totale_casi_increment}})</span><br/><br/>

                    Tamponi: <span class="badge badge-primary badge-pill float-right">{{detailValue.tamponi}} (+{{detailValue.tamponi_increment}})</span><br/>
                    Terapia intensiva: <span class="badge badge-primary badge-pill float-right">{{detailValue.terapia_intensiva}} (+{{detailValue.terapia_intensiva_increment}})</span><br/>
                    Ricoverati: <span class="badge badge-primary badge-pill float-right">{{detailValue.ricoverati_con_sintomi}} (+{{detailValue.ricoverati_con_sintomi_increment}})</span><br/>
                    Isolamento: <span class="badge badge-primary badge-pill float-right">{{detailValue.isolamento_domiciliare}} (+{{detailValue.isolamento_domiciliare_increment}})</span><br/><br/>
                    
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="lead">Numero verde</p>
                    <div class="chip">
                        <svg class="icon icon-xs"><use xlink:href="../assets/sprite.svg#it-telephone"></use></svg>
                        <span class="chip-label">{{numeriEmergenza[detailValue.denominazione_regione]}}</span>
                    </div>
                    <p>Numero emergenza</p>
                    <div class="chip">
                        <svg class="icon icon-xs"><use xlink:href="../assets/sprite.svg#it-telephone"></use></svg>
                        <span class="chip-label">112</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <h4>Andamento giornaliero</h4>
            <div id="linearchart"></div>
            <button type="button" class="btn btn-outline-primary btn-xs float-right" data-toggle="modal" data-target=".bd-example-modal-lg">Decessi per fasce d'età</button>
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                
                    <h4>Decessi per fasce d'età</h4>
                    <div id="barChart"></div>

                    <div class="row">
                        <div class="float-left">Ultimo aggiornamento: 17/03/2020 (Comunicato <a href="https://www.epicentro.iss.it/coronavirus/bollettino/Report-COVID-2019_17_marzo-v2.pdf" target="_blank">N° 22/2020 ISS</a>)</div>
                    </div>

                    </div>
  
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="float-left">Ultimo aggiornamento: {{lastUpdate}}</div>
        
    </div>
</div>
<!--
<div class="container my-1">
    <div class="alert alert-danger" role="alert" [innerHTML]="alertMessage">

    </div>
</div>
-->
<div class="container my-2">

    <div class="row">
        <div class="col-sm-4">
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <div class="top-icon">
                            <svg class="icon">
                            <use xlink:href="../assets/sprite.svg#it-comment"></use>
                            </svg>
                        </div>
                        <h5 class="card-title">Come fare per?</h5>
                        <p class="card-text">Scopri tutte le risposte alle domande più comuni</p>
                        <a class="read-more" target="blank" href="http://www.governo.it/it/articolo/decreto-iorestoacasa-domande-frequenti-sulle-misure-adottate-dal-governo/14278">
                            <span class="text">Leggi di più</span>
                            <svg class="icon">
                            <use xlink:href="../assets/sprite.svg#it-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <div class="top-icon">
                            <svg class="icon">
                            <use xlink:href="../assets/sprite.svg#it-info-circle"></use>
                            </svg>
                        </div>
                        <h5 class="card-title">Raccomandazioni</h5>
                        <p class="card-text">Lava spesso le mani, non toccare occhi, naso e bocca, evita contatti ravvicinati e luoghi affollati.</p>
                        <a class="read-more" target="blank" href="http://www.salute.gov.it/imgs/C_17_opuscoliPoster_443_allegato.pdf">
                            <span class="text">Leggi di più</span>
                            <svg class="icon">
                            <use xlink:href="../assets/sprite.svg#it-arrow-right"></use>
                            </svg>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <div class="top-icon">
                            <svg class="icon">
                            <use xlink:href="../assets/sprite.svg#it-help-circle"></use>
                            </svg>
                        </div>
                        <h5 class="card-title">Dubbi?</h5>
                        <p class="card-text">Cosa fare in caso di sintomi, febbre, difficoltà respiratorie e dove fare il test.</p>
                        <a class="read-more" target="blank" href="http://www.salute.gov.it/imgs/C_17_opuscoliPoster_444_allegato.pdf">
                            <span class="text">Leggi di più</span>
                            <svg class="icon">
                            <use xlink:href="../assets/sprite.svg#it-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-3">

    <div class="row">

    </div>
</div>

<!--chatbot-->
<div id="desi_desi">
    <div id="desi_view-change-button" class="desi_button animated infinite pulse delay-2s" onclick="PayloadPanel.togglePanel(event, this)"><img class="desi_option desi_not-full" src="assets/chatbot.png"><img class="desi_option desi_full" src="https://desi.eu-de.mybluemix.net/img/cancel.png"></div>
    <div id="desi_contentParent" class="desi_responsive-columns-wrapper desi_chat-hidden">
        <div id="desi_chat-column-holder" class="desi_responsive-column desi_content-column">
            <div class="desi_chat-column">
                <div id="desi_scrollingChat"></div>
                <p class="desi_user-typing" id="desi_user-typing-field"></p>
                <label for="textInput" class="desi_inputOutline">
                    <input id="desi_textInput" class="desi_input desi_responsive-column" placeholder="Domandami qualcosa" type="text" onkeydown="ConversationPanel.inputKeyDown(event, this)" autofocus>
                </label>
                <div id="desi_attribution_div">
                    <p id="desi_attribution">Chatbot creato e offerto in donazione da
                        <br><a href="https://www.kinoa.tech">Kinoa Innovation Studio</a></p>
                </div>
            </div>
        </div>
    </div>

</div>