<div class="it-header-wrapper">

  <div class="it-nav-wrapper">
    <div class="it-header-center-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper">
                <a href="#">
                  <svg class="icon">
                    <use xlink:href="assets/sprite.svg#it-plus-circle"></use>
                  </svg>
                  <div class="it-brand-text">
                    <h2 class="no_toc">Nuovo coronavirus</h2>
                    <h3 class="no_toc d-none d-md-block">#iorestoacasa</h3>
                  </div>
                </a>
              </div>
              <div class="it-right-zone">
                <div class="it-socials d-none d-md-flex">
                  <span>Seguici su</span>
                  <ul>
                    
                    <li>
                      <a href="https://github.com/grausof/coviditaly" aria-label="Github" target="_blank">
                        <svg class="icon">
                          <use xlink:href="assets/sprite.svg#it-github"></use>
                        </svg>
                      </a>
                    </li>
                    
                  </ul>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="it-header-navbar-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <nav class="navbar navbar-expand-lg has-megamenu">
              <button class="custom-navbar-toggler" type="button" aria-controls="nav10" aria-expanded="false" aria-label="Toggle navigation" data-target="#nav10">
                <svg class="icon">
                  <use xlink:href="assets/sprite.svg#it-burger"></use>
                </svg>
              </button>
              <div class="navbar-collapsable" id="nav10">
                <div class="overlay"></div>
                <div class="close-div sr-only">
                  <button class="btn close-menu" type="button"><span class="it-close"></span>close</button>
                </div>
            
                <div class="menu-wrapper">
                  <ul class="navbar-nav">
                    <li class="nav-item"><a [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/']" routerLinkActive="active" class="nav-link"><span>Home</span></a></li>
                    <li class="nav-item"><a [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/spesa']" routerLinkActive="active" class="nav-link" ><span>Spesa a domicilio</span></a></li>

                  </ul>
                </div>
               

              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>



<footer class="it-footer">
  <div class="it-footer-main">
    <div class="container">
      <section>
        <div class="row clearfix">
          <div class="col-sm-12">
          <br>
            <p>I dati sono prelevati tramite <a class="p-2 text-white"  href="https://github.com/pcm-dpc/COVID-19">api</a> messe a disposizione dal Dipartimento della Protezione Civile </p>
            <p>Licenza: CC-BY-4.0</p>
          </div>
        </div>
      </section>
      
   
    </div>
  </div>

  
</footer>