<div class="container my-1">
    <div class="row">
        <h4>Seleziona la regione</h4>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div id="chartdiv"></div>
        </div>
        <div class="col-sm-6">
  
            <h5 [hidden]="!currentRegion">Regione selezionata: {{currentRegion}}</h5><br/>
            <p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfk5-qID__HdmUPqjsGwLTp93E6VmPJzM0WMoWJKo86T_-gvQ/viewform">Clicca qui </a>per inserire la tua attività</p>
            <div [hidden]="!currentRegion">

                <label>Seleziona la provincia: </label>
                <select title="Scegli una opzione" #provSelect (change)='onProvChange(provSelect.value)'>
                    <option *ngFor="let item of province; let i = index" [value]="i">
                        {{item}}
                    </option>
                </select>
                    
            </div>
            <p *ngIf="negoziPerProvincia.length == 0" [hidden]="!currentRegion">Ancora nessuna attività presente nella tua zona</p>
            <div class="it-list-wrapper">
                <ul class="it-list">
                    <li *ngFor="let neg of negoziPerProvincia">
                    <a class="" *ngIf="!neg.shipment">
                        <div class="it-right-zone"><span class="text">{{neg.company}} - {{neg.name}}<em>{{neg.address}}</em>
                        <span class="metadata" *ngIf="neg.phone">{{neg.phone}}</span>
                        </span>
                        </div>
                    </a>
                    <a class="" *ngIf="neg.shipment" [href]="neg.shipment" target="_blank">
                        <div class="it-right-zone"><span class="text">{{neg.company}} - {{neg.name}}<em>{{neg.address}}</em>
                        <span class="metadata" *ngIf="neg.phone">{{neg.phone}}</span>
                        </span>
                        </div>
                    </a>
                    
                    </li>
                    
                </ul>
            </div>
            
        </div>
        
    </div>
</div>



